main {
  display: flex;

  flex-direction: row;
  padding-top: 56px;
  div{
    flex:1;
  }
}

.mouse-panel {
  display: grid;
  position: absolute;
  top: 50%;
  right: 10%;
  grid-template-columns: auto auto;
}
