.app-home {
  padding: 10px;
  color: white;
}

button {
  background: #5851ff;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
.ia-brand {
  position: relative;
  height: 100%;
  img {
    display: block;
  }
}

@mixin moveCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin moveCenterGrow {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) scale(1.5);
  -webkit-transform: translateY(-50%) scale(1.5);
  -moz-transform: translateY(-50%) scale(1.5);
  -ms-transform: translateY(-50%) scale(1.5);
  -o-transform: translateY(-50%) scale(1.5);
}

@mixin hoverTrans {
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-delay: 0.5s;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

.swirley {
  overflow: hidden;
  height: 100%;
  div {
    position: absolute;
    display: block;
  }
  .ia-brand {
    z-index: 1;
    // height: 30vw;
    @include moveCenter;
    img {
      height: 40vh;
      max-width: 100vw;
      width: auto;
      position: inherit;
      @include moveCenter;
      @include hoverTrans;
      &:hover {
        @include moveCenterGrow;
        @include hoverTrans;
      }
    }
  }
  .swirley-img {
    z-index: -1;
    min-width: 100vw;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    overflow: hidden;
    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%) translate(-50%, -50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
