.app-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

@mixin moveCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin moveCenterGrow {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) scale(1.5);
  -webkit-transform: translateY(-50%) scale(1.5);
  -moz-transform: translateY(-50%) scale(1.5);
  -ms-transform: translateY(-50%) scale(1.5);
  -o-transform: translateY(-50%) scale(1.5);
}

@mixin hoverTrans {
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-delay: 0.5s;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

.ia-logo{
  display: inline;
  img{
    display: block;
  }
}

.app-home-card{
  flex: 1;
}
